.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
}

.logo{
    font-weight: bold;
}
.links{
    display: flex;
   gap:20px;
   align-items: center;
}
.logout{
    padding: 5px;
    border: none;
    background-color: aquamarine;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}